body{
    padding: 15px;
    margin: 0 auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1200px;
    background-color: black;
    color: white;
}
header{
    display: flex;
    line-height: 10px;
    justify-content: space-between;
    align-items: center;
}
li{
    display: inline-block;
    margin: 40px;
}
a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    color: blueviolet;
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    animation-duration: 0.5s;
}
.banner{
    background-image: url("/components/imagens/brazil-4803308_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    height: 85vh;
    position: relative;
}
#title-section{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    justify-content:center ;
}
section {
    padding: 20px;
    text-align: center;
}
p{
    line-height: 20px;
}
footer{
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
    align-items: center;
    color: black;
}
#title-section:hover{
    opacity: 1;
}